
.icon-mail:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-xing:before { content: '\f168'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
